.info-card {
    margin-bottom: 40px;
    padding: 10px 0px;
    background-color: rgb(230, 230, 230);
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    width: 100%;
}

.artist {
    text-align: center;
}