input {
    // border: 0.2px solid rgb(209, 209, 209);
    border: none;
    padding: 10px;
    border-radius: 5px;
    height: 30px;
    font-size: 15px;
    width: inherit;
}

input:focus {
    outline: none;
}

form {
    width: 90%;
    background-color: white;
    border-radius: 5px;
    padding-left: 10px;
    color: rgb(37, 37, 37);
    margin-right: 10px;
}

.formactive {
    border: solid 2px black;
}